body {
  min-height: 100vh;
  background-color: #2f4550;
}

#root:empty + .load {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 40px;
}

#root + .load {
  display: none;
}
