.header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  background-color: #000;
  font-size: 28px;
  @media (max-width: 729px) {
    justify-content: center;
  }
}

.logo {
  height: 150px;
  @media (max-width: 400px) {
    height: 100px;
  }
}